.geowiki-editor-map {
  position: absolute;
  left: 0;
  right: 250px;
  top: 0;
  bottom: 0;
}
.geowiki-editor-sidebar {
  position: absolute;
  right: 0;
  width: 245px;
  top: 0;
  bottom: 0;
  border-left: 1px solid black;
  padding: 2px;
}
