<h3 v-if="$data.items.length">Items</h3>
<ul v-if="$data.items.length" class="leaflet-geowiki">
  <li v-for="item in $data.items" v-bind:class="{ hidden: item.isHidden }">
    <span class="actions">
      <a href="#" v-on:click="item.toggleVisibility()" class="toggle-vis"></a>
    </span>
    <a href="#" v-on:click="item.edit()">{{ item.name() }}</a>
  </li>
</ul>

<h3>Actions</h3>
<ul class="leaflet-geowiki actions" v-bind:class="{ hidden: $data.isHidden }">
  <li>
    <span class="actions">
      <a href="#" v-on:click="createSublayer" class="create-sublayer"></a>
    </span>
    <a href="#" v-on:click="createSublayer">Create sublayer</a>
  </li>
  <li>
    <span class="actions">
      <a href="#" v-on:click="$data.toggleVisibility()" class="toggle-vis"></a>
    </span>
    <a href="#" v-on:click="$data.toggleVisibility()">Toggle visibility</a>
  </li>
</ul>
